{% extends 'news/base.html' %}
{% load static %}
{% block page_header %}{% endblock page_header %}

{% block content %}

<div class="d-flex mt-2">

  <div class="btn-group col-8 ml-auto mr-auto mb-3" role="group" aria-label="pageNav">
        <span id="coinsNum" class="coinsNum">Coins: {{coinNum}}</span>

    {% if page.has_previous %}
    <a href="{% url 'news:coins' %}?page={{ page.previous_page_number }}" class="btn-page btn btn-light border border-5 shadow-sm" role="button" aria-pressed="true">Previous Page</a>
    {% else %}
    <form id="search-form" autocomplete="off" class="d-flex" method='get' action="{% url 'news:search' %}">
        {% csrf_token %}
        <input id="search-input" type="text" class="form-control" style="" placeholder="search coins..."
      aria-label="Search" />
    </form>
    {% endif %}
    {% if page.has_next %}
    <a id="next" href="{% url 'news:coins' %}?page={{ page.next_page_number }}" class="btn-page btn btn-light border border-5 shadow-sm" role="button" aria-pressed="true">Next Page</a>
    {% endif %}
  </div>
</div>
<div id="results-box" class="card mx-auto" style="width: 50%, margin: 0 auto; display: none;">test</div>

<div class="row row-cols-1 col-11 mx-auto row-cols-md-3 g-4 p-2">


  {% for coin in page.object_list %}
<div>
  <div  class="coins-list "  >
    <div class="col">
      <div class="card  mb-2">
        <div class="card-body d-flex align-items-center">
          <div class="coins-title" ><h5 class="card-title mt-3">{{ coin.name }}</h5></div>


          <a href="{% url 'news:coinpage' coin.id %}" style="padding-left: 10px; "><button class="btn-page">Info</button></a>
          {% if user.is_authenticated %}
            {% if coin not in follow %}
              <span style="padding-left: 10px;" id="{{coin.id}}"><button onclick="follow({{coin.id}})" class="btn-page">Follow</button></span>
            {% else %}
              <span style="padding-left: 10px;" id="{{coin.id}}"><button  onclick="unFollow({{coin.id}})" class="btn-unfollow">Unfollow</button></span>
            {% endif %}
          {% endif %}
          <div class="ml-auto"><img src="{{ coin.img_link }}" class="" style="" alt="..."></div>

        </div>
      </div>
    </div>
  </div>
  </div>
{% empty %}
  <h2>No coins yet.</h2>
{% endfor %}

<script src="https://ajax.​googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>const xsrf = "{{csrf_token}}"</script>
<script src="{% static 'js/follow.js' %}"></script>
<script src="{% static 'js/coins.js' %}"></script>

{% endblock content %}




