{% extends 'news/base.html' %}
{% load static %}


{% block page_header %}
  {% if not page.has_previous %}
    <div class="jumbatron-posts">
      <div class="container ">
        <h1 class="text-center"><span class="hltext2">explore&nbsp;</span> latest <span class="raise">crypto</span> news</h1>

        <h4>...here you can <span class="hltext"> &nbsp;track </span>&nbsp;news </h4>
          <div class="d-flex">
            <h4 class="ml-auto">...and its action on the <span class="hltext">&nbsp;price&nbsp;</span></h4>
          </div>
      </div>
    </div>
  {% endif %}
{{ pcs|json_script:"pcs" }}
{% endblock page_header %}


{% block content %}
<div id="app">

<div class="container-fluid">

  <div class="row">

  <div class="col-12 mr-auto ml-auto ">
    <div class="d-flex mt-2 sticky-top">
      <div id="btns" class="btn-group col-8 mx-auto mb-3" role="group" aria-label="pageNav">
        {% if page.has_previous %}
        <a href="{% url 'news:posts' %}?page={{ page.previous_page_number }}" class="btn-page btn btn-light border border-5 shadow-sm" role="button" aria-pressed="true">Previous Page</a>
        {% endif %}
        {% if page.has_next %}
        <a href="{% url 'news:posts' %}?page={{ page.next_page_number }}" class="btn-page btn btn-light border border-5 shadow-sm" role="button" aria-pressed="true">Next Page</a>
        {% endif %}
      </div>
    </div>
    <div class="col-11 mx-auto row row-cols-10 row-cols-md-4 g-4 p-2" >

      {% for card in page.object_list %}
        <div class="col-auto">
          <div class="card  bg-body">

            <div class="upper card-body ">
            <div class="d-flex sub">
              <div style="padding-right: 0.35em;">
                <span class="before-after">before: ${{ card.price }}</span>
              </div>

              <div>
                <span v-for="price in prices" :key="price.id">
                  <span v-if="price.name === '{{ card.coin.name }}'"
                        class="before-after"
                        :class="{'raise': price.state === 'raise', 'fall': price.state === 'fall'}">
                    now: $[[  price.price  ]]
                  </span>
                </span>
              </div>
            </div>
            <div class="change"></div>

              <div class="d-flex">
                <div>
                  <h5 class="card-title mt-3" id="title">{{ card.coin.name }}</h5>

                </div>

                <div class="ml-auto">
                  <img src="{{ card.coin.img_link }}" class="img-thumbnail" alt="...">
                </div>
              </div>
            </div>
            <div class="card-body">
            <div class="card-text mb-4"><span>{{ card.fuckquestions|slice:":100" }}...</span></div>
              <div class="d-flex" style="align-items: center;">
                <div class="btn-cards">
                  <span>
                  <a href="{{ card.coin.cg_link }}">
                    <img class="card-img" alt="Qries" src="https://static.coingecko.com/s/thumbnail-007177f3eca19695592f0b8b0eabbdae282b54154e1be912285c9034ea6cbaf2.png">
                  </a>
                  </span>
                  <a href="{{ card.coin.tg_link }}">
                    <img class="card-img" alt="Qries" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/240px-Telegram_logo.svg.png">
                  </a>

                </div>
                <div class="ml-auto mt-1">
                  <div class="winModal" data-post-id="{{card.id}}">INFO</div>
                </div>
              </div>
            </div>
            <div class="d-flex card-footer mt-1 text-muted">
              <div>{{ card.whenpublished }}</div>
              <div class="ml-auto">{{ card.get_tags }}</div>
            </div>
          </div>
        </div>



      {% empty %}
        <h3>NO NEWS</h3>
      {% endfor %}


      </div>
    </div>
  </div>
</div>


<div id="csrf">{%csrf_token%}</div>


</div>

<script src="{% static 'js/posts.js' %}"></script>
<script src="{% static 'js/winbox-bundle.js' %}"></script>
{% endblock content %}
