{% extends 'news/base.html' %}
{% load static %}

{% block page_header %}
    <div class="jumbatron-posts">
      <div class="container ">
        <h1 class="text-center"><span class="hltext2">explore&nbsp;</span> tags</h1>
      </div>
    </div>
{% endblock page_header %}

{% block content %}
<div id="pages" class="container d-flex justify-content-around align-items-center"></div>
<div id="app" >
  <div class="container-fluid  col-10 jumbatron-posts col-11 mx-auto row row-cols-10 row-cols-md-4 g-4 p-2 scrollInApp" style="border-radius: 10px;color:#49b788;overflow:auto; height:400px; background: #1f212469;">
    App for browsing posts.
    Please click on any tag.


  </div>
</div>
<div class="container-fluid col-9 mt-3">
  <!--parent must be full height-->
  <div class="row ">
    {% for tag in tags %}
    <div onclick="sendSearchData({{tag.id}})" class="col-sm-3 h-80  d-table">
      <div class=" card card-body d-block align-middle tags" id="{{tag.id}}">
        <div>{{ tag.tag }}</div>
        <div class="tags-num" style="text-align: right;">{{tag.tag_count}}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/winbox-bundle.js' %}"></script>
<script src="{% static 'js/tags.js' %}"></script>
<script>const xsrf = "{{csrf_token}}";</script>
{% endblock content %}
