html,body {
    margin-left: auto;
    margin-right: auto;
}
* {
 font-size: 100%;
 font-family: 'Poppins', sans-serif;
}
a {
    color: #2dd6a1;
    text-decoration: none;
}

a:hover {
    color:#00A0C6;
    text-decoration:none;
    cursor:pointer;
}
.login {
     border-radius: 20px;
     padding: 5px;
     background: #383a3f;
     color: #2dd685;
}

.nav {
    background: white;
}
.navbar-brand {
    color: #52B788;
    font-weight: 700;
    font-size: 25px;
}
.nav-item {
    color: #679289;
    font-size: 20px;
}
.nav-item a {
    color: #679289;
    font-size: 20px;

}


/* card layout */
.card {
    background: #1F2124;
    margin: 10px 15px 20px 5px;
    padding: 5px;
    color: #c1c0bc;
    transition: 0.3s ease-out;

}
.card:hover {
    transform: scale(1.01);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
}
.card-title {
    color:  #c1c0bc;
}
.upper {
    background: #52b7880f;
    border: none;
    position:relative;

}
.sub{
    position:absolute;

    bottom:2%;
}
.change.fall, .change.raise {position:absolute;
 top: -15%;

 font-size: 95%;
 background: #1f2124;
 display: inline-block;
 padding: .25em .4em;
 line-height: 1;
 border-radius: .25rem;
 text-shadow: -0.5px -0.5px 0px rgb(255 255 255 / 50%);
 }
.before-after, .before-after.raise, .before-after.fall {
 font-weight: 500;
 font-size: 80%;
 background: #1f2124;
 display: inline-block;
 padding: .25em .4em;
 line-height: 1;
 border-radius: .25rem;
 color: #aaadc4;
}

.coin-card {
    margin: 15px 15px 15px 15px;
}
.coin-card:hover {
    transform: none;
}
.card-img {
  width: 2.7em;
}



/* buttons */
.btn {
    background: #B6B9CD;
    border: none;
    color: #191A24;
}
.btn-page {
 background: #32cd3212;
 color: #32cd32;
 border: 1px solid #52b788!important;
 font-size: 1.1rem;
 font-weight: 400;

 }
.btn-page:hover {
    background: #32cd32;

 }
 .btn-unfollow {
 background: #c21d5112;
 color: #c21d51;
 border: 1px solid #c21d51!important;
 font-size: 1.1rem;
 font-weight: 400;

 }
.btn-unfollow:hover {
    background: #32cd32;

 }
.btn-cards span {
    padding-right: 0.35em;
}


.coins-title h4 {color: white;}
.coins-title h4 {color: white;}
.form {
  color: limegreen;
  padding: 30px; /* fills out the jumbotron */
  border: 1px solid #32cd35!important;
background: #32cd3212;
border-radius: 5px;

}


.small, small {color: gray;}

.badge {
    white-space: normal;
    color: black;
}

.coins-list {
    padding-top: 10px;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: inherit;
    }

/* coloring price when it changes */
.fall {
    color: #ff1b61ba;
}
.raise {
    color: limegreen;
}


.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 0.20em;
    padding-left: 0.20em;
}



/* jumbatron /posts/ */
.jumbatron-posts {
  padding: 30px; /* fills out the jumbotron */
  background-color: #1f2124;
color: #52b788;
}
.container h1{
  padding: 10px 35px;
  font-weight: 700;
  border-radius: 5px;
}
.hltext {
  border:1px dashed #aaadc4;
  padding:0.01em 0.1em;
}
.hltext2 {
text-shadow: 10px 7px #32cd3259;
}

.indexDiv {

}
.inx24h{
  color: #ffffff85;
  padding-bottom: 10px;
  padding-top: 10px;
background: #2dd68540;


}


.coinsNum {
    padding: .375rem .75rem;
    border: 1px solid #52b788!important;
    font-size: 1.1rem;
    background: #32cd3212;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

/* tags page */
.tags {
    display: inline-block;
    box-sizing: content-box;
    padding: 1.5em;
    background: #38443f;
    color: #52b788;
    font-size: 1em;
    border-radius: 20px;
}
.tags-num {
    position:absolute;
    top: 35%;
    left: 85%;
    font-size: 100%;
    background: #1f363e;
    display: inline-block;
    padding: .25em .4em;
    line-height: 1;
    border-radius: .25rem;

}
.scrollInApp::-webkit-scrollbar {
    width: 10px;
}
.scrollInApp {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
box-shadow: inset 0px 0px 20px 0px #000000;
}

.scrollInApp::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #263040;
}
#pages {
    padding: 10px;
    padding-bottom: 1.5rem;
}
.pageNum {
    cursor: pointer;
    font-size: 120%;
    width: 30px;
    height: 30px;
    color: #52b788;
    text-align: center;
    padding-top: 2px;
    display:inline;
    background: #38443f;
    border-radius: 50%;
}
.currentPage {
    background: #2dd685;
    color: #1f2124;

}

/* modal via winbox */
.winModal {

    background-color: #383a3f;
    color: #32cd32;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}
.wb-body {
    position: fixed;
    padding:20px;
    background: #1f2124;
    z-index:6;
}
.wb-full {
    display: none;
}
.modalUp {
    padding: 10px;
}
.modalTitle {
    color: #c1b6b2;
}
.modalText {
    color: #c1b6b2;
    padding-top: 10px;
}
.modalText div{
    white-space: pre-wrap;
    background: #52b7880f;
    word-wrap: break-word;
    border: solid #52b7880f;
    border-radius: 30px;
    padding: 20px;
    }

.modalPrices {
    color: #c1b6b2;
    padding-top: 20px;
    padding-bottom: 20px;
}
table {
    background: #38443f;

    border-radius: 30px;
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    text-align:center;

}
th, td {
    border: 0.5px solid #ffffff30;
}
table tr:first-child td {
  border-top: 0;
}
table tr td:first-child {
  border-left: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:last-child {
  border-right: 0;
}
.tagsSocials {
    color: #c1b6b2;
    padding-bottom: 10px;
}
.modalTags {
    border: solid #32cd3212;
}
.modalTags span{
    padding: 10px;

}
.wb-body::-webkit-scrollbar {
    width: 12px;
}
.wb-body::-webkit-scrollbar-track {
    background: transparent;
}
.wb-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #263040;
}
.wb-body::-webkit-scrollbar-thumb:window-inactive {
    background: #181f2a;
}
.wb-body::-webkit-scrollbar-corner {
    background: transparent;
}

